body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #FDF6F0;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.signup-container {
  background: #fff;
  padding: 30px 40px;
  border-radius: 10px;
  box-shadow: 0 8px 20px rgba(0,0,0,0.2);
  width: 400px;
  max-width: 90%;
  text-align: center;
}

.signup-container h2 {
  margin-bottom: 20px;
  color: #0d324d;
}


.signup-form .form-group {
  text-align: left;
  margin-bottom: 15px;
}

.signup-form label {
  display: block;
  font-weight: 600;
  margin-bottom: 6px;
  color: #333;
}

.signup-form input {
  width: 100%;
  padding: 10px;
  border: 1px solid #bbb;
  border-radius: 6px;
  outline: none;
  font-size: 15px;
}

.signup-form input:focus {
  border-color: #0d324d;
  box-shadow: 0 0 5px rgba(13, 50, 77, 0.5);
}

.btn {
  width: 100%;
  padding: 12px;
  background: goldenrod;
  color: black;
  border: none;
  border-radius: 6px;
  font-size: 16px;
  cursor: pointer;
  transition: background 0.3s ease;
}

.btn:hover {
  background: #E76F51;
}


.login-link {
  margin-top: 15px;
  font-size: 14px;
}

.login-link a {
  color: goldenrod;
  text-decoration: none;
  font-weight: 600;
}

.login-link a:hover {
  text-decoration: none;
}
.actions a{
  text-decoration: none;
}